<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
</head>
<body>
  <div style="width:800px; text-align: left;">
    <div style="background-color: #FFFFFF; border: #E5E5E5 solid 1px; -moz-box-shadow: 0 0 3px #F1F1F1; -webkit-box-shadow: 0 0 3px #F1F1F1; box-shadow: 0 0 3px #F1F1F1;">
      <div style="background-color: #F4F4F4; height: 36px;padding-top: 1px; padding-left: 8px;">
      </div>
      <div style="padding: 10px; line-height: 18px;">
        
        <%= yield %>
        
        <div style="font-size: 12px; padding: 10px 0 0 0; line-height: 16px;">
          WayHomeTag Team<br> <a href="https://wayhometag.com/" style="color:#00f;">https://wayhometag.com/</a>
        </div>
      </div>
    </div>
    <div style="padding: 5px 0px 0px 10px;">
      <div style="font-size: 11px; color: #AEAEAE; padding: 8px 0px;">This e-mail is generated from WayHomeTag.com. If you think this is SPAM, please report to <a href="mailto:abuse@wayhometag.com" style="color:#0000ff;">abuse@wayhometag.com</a> for immediate action.</div>
    </div>
  </div>    
</body>
</html>
